.h-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Eatsearcher{
    font-size: 50px;
}

.Auswahl-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}
.start-btn{
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 50%;
    padding: 200px;
    border: 1px solid black;
    border-collapse: collapse;
    object-fit: contain;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.p-btn{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    margin: auto;
 
}
.start-btn.Vorspeise{
    background-image: url(imgs/Vorspeise.jpg);

}

.start-btn.Nachspeise{
    background-image: url(imgs/Nachspeise.jpg);
}
.start-btn.Fleisch{
    background-image: url(imgs/Fleischgerichte.jpg);
}
.start-btn.Nudeln{
    background-image: url(imgs/Nudeln.jpg);
}
.start-btn.Hauptspeisen{
    background-image: url(imgs/Hauptspeise.jpg);
}